{% extends 'info/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="linechart-tab" data-bs-toggle="tab" data-bs-target="#linechart" type="button" role="tab" aria-controls="linechart" aria-selected="true">Line Chart</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="piechart-tab" data-bs-toggle="tab" data-bs-target="#piechart" type="button" role="tab" aria-controls="piechart" aria-selected="false">Pie Chart</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active text-center" id="linechart" role="tabpanel" aria-labelledby="linechart-tab">
                    <h3 class="my-3">Meest populaire genres van 2016</h3>
                    <div class="row justify-content-center">
                        <div id="container align-self-center" style="width: 75%;">
                            <canvas id="population-chart"></canvas>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade text-center" id="piechart" role="tabpanel" aria-labelledby="piechart-tab">
                    <h3 class="my-3">Aantal films dat in een land gemaakt is, met een IMDB-rating boven de 8</h3>
                    <div class="row justify-content-center">
                        <div id="container" style="width: 75%;">
                            <canvas id="pie-chart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



  <script>

    var config = {
      type: 'line',
      data: {
        datasets: [{
          data: {{ chartdata|safe }},
          backgroundColor: "#3AAFA9",
          pointBorderColor: "#4c9760",
          label: 'Aantal films'
        }],
        labels: {{ labels|safe }}
      },
      options: {
        responsive: true
      }
    };

    var config2 = {
      type: 'pie',
      data: {
        datasets: [{
          data: {{ country_data|safe }},
          backgroundColor: {{ colors|safe }},
          label: 'Aantal films'
        }],
        labels: {{ country_labels|safe }}
      },
      options: {
        responsive: true
      }
    };

    {#var config2 = {#}
    {#  type: 'pie',#}
    {#  data: {#}
    {#    datasets: [{#}
    {#      data: {{ data|safe }},#}
    {#      backgroundColor: [#}
    {#        '#3AAFA9', '#2B7A78', '#17252A', '#DEF2F1', '#FEFFFF'#}
    {#      ],#}
    {#      label: 'Population'#}
    {#    }],#}
    {#    labels: {{ labels|safe }}#}
    {#  },#}
    {#  options: {#}
    {#    responsive: true#}
    {#  }#}

    window.onload = function() {
      var ctx = document.getElementById('population-chart').getContext('2d');
      window.myPie = new Chart(ctx, config);
      {#var ctx = document.getElementById('pie-chart').getContext('2d');#}
      {#window.myPie = new Chart(ctx, config2);#}
    };

  </script>

{% endblock %}