{% extends "info/base.html" %}
{% block content %}
    <div class="row">
        <div class="card col-3">
            <i class="bi bi-clipboard-data-fill"></i>
            <div class="card-body">
                <h5 class="card-title">Data</h5>
                <p class="card-text">Zie de vragen die beantwoordt zijn doormiddel van SQL-queries</p>
                <a href="{% url 'info-data' %}" class="btn btn-primary">Ga naar Data</a>
            </div>
        </div>
        <div class="card col-3">
            <i class="bi bi-pie-chart-fill"></i>
            <div class="card-body">
                <h5 class="card-title">Pie Chart</h5>
                <p class="card-text">Zie de vragen die beantwoordt zijn met pie charts</p>
                <a href="{% url 'info-pie-chart' %}" class="btn btn-primary">Ga naar PieChart</a>
            </div>
        </div>
        <div class="card col-3">
            <i class="bi bi-graph-up"></i>
            <div class="card-body">
                <h5 class="card-title">Line Chart</h5>
                <p class="card-text">Zie de vragen die beantwoordt zijn met line charts</p>
                <a href="{% url 'info-line-chart' %}" class="btn btn-primary">Ga naar LineChart</a>
            </div>
        </div>
        <div class="card col-3">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Line Chart</h5>
                <p class="card-text">Zie de vragen die beantwoordt zijn met line charts</p>
                <a href="{% url 'info-line-chart' %}" class="btn btn-primary">Ga naar LineChart</a>
            </div>
        </div>
    </div>
{% endblock content %}
